/* stylelint-disable indentation */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* stylelint-disable indentation */
.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* stylelint-disable indentation */
h1 {
    color: #333;
}

/* stylelint-disable indentation */
p {
    color: #666;
}

/* stylelint-disable indentation */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* stylelint-disable indentation */
footer p {
    margin: 5px 0;
}

/* stylelint-disable indentation */
img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}
